* {
    font-family: 'Ubuntu';
    font-size: 15px;
}

.view button {
    border-radius: 0px;
    border-width: 0px 1px 1px 0px;
    font-weight: bold;
}

.view {
    outline: 0;
    background: #222;
}

.view:selected {
    color: #ff8;
    background: #238;
    border-color: #46c;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
}
