name: Release builds
on:
  push:
jobs:
  build:
    name: Build

    strategy:
      fail-fast: false
      matrix:
        sys:
          [
            {
              name: ubuntu-x86_64,
              os: ubuntu-24.04,
              arch: amd64,
              target: x86_64-unknown-linux-gnu,
            },
            {
              name: rpi-os-aarch64,
              os: ubuntu-24.04,
              arch: arm64,
              target: aarch64-unknown-linux-gnu,
            },
            {
              name: windows-x86_64,
              os: windows-2025,
              arch: amd64,
              target: x86_64-pc-windows-msvc,
            },
          ]

    runs-on: ${{ matrix.sys.os }}

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Create version based on current date
        id: date
        shell: bash
        run: |
          today=$(TZ='Europe/Amsterdam' date +'%Y-%m-%d')
          version=$(echo $today | sed 's/-0*/./g')
          echo "today=${today}"
          echo "version=${version}"
          echo "today=${today}" >> $GITHUB_OUTPUT
          echo "version=${version}" >> $GITHUB_OUTPUT
          sed -i "s/^version =.*$/version = \"${version}\"/" Cargo.toml

      - name: Install Ubuntu dependencies for MView6 and download libpdfium.so
        if: matrix.sys.target == 'x86_64-unknown-linux-gnu'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-4-dev libdav1d-dev
          wget https://github.com/bblanchon/pdfium-binaries/releases/latest/download/pdfium-linux-x64.tgz
          tar xf pdfium-linux-x64.tgz --strip-components=1 lib/libpdfium.so
          rm -f pdfium-linux-x64.tgz
          mkdir -p tools/linux/debian/usr/lib/mview6
          mv libpdfium.so tools/linux/debian/usr/lib/mview6/.

      - name: Download libpdfium.so for ARM64
        if: matrix.sys.target == 'aarch64-unknown-linux-gnu'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-4-dev libdav1d-dev
          wget https://github.com/bblanchon/pdfium-binaries/releases/latest/download/pdfium-linux-arm64.tgz
          tar xf pdfium-linux-arm64.tgz --strip-components=1 lib/libpdfium.so
          rm -f pdfium-linux-arm64.tgz
          mkdir -p tools/linux/debian/usr/lib/mview6
          mv libpdfium.so tools/linux/debian/usr/lib/mview6/.

      - name: Install Windows build environment for MView6
        if: runner.os == 'Windows'
        run: |
          $WebClient = New-Object System.Net.WebClient
          $WebClient.DownloadFile("https://github.com/newinnovations/mview6-win-buildenv/releases/download/2025-05-07/mview6-win-buildenv.zip", "C:\mview6-win-buildenv.zip")
          $WebClient.DownloadFile("https://github.com/bblanchon/pdfium-binaries/releases/latest/download/pdfium-win-x64.tgz", "C:\pdfium-win-x64.tgz")
          tar xf C:\pdfium-win-x64.tgz -C C:\ --strip-components=1 bin/pdfium.dll
          7z x C:\mview6-win-buildenv.zip -oC:\gtk-build\gtk\x64
          vcpkg install dav1d:x64-windows
          "PKG_CONFIG_PATH=C:/vcpkg/packages/dav1d_x64-windows/lib/pkgconfig" | Add-Content -Path $env:GITHUB_ENV
          "C:\gtk-build\gtk\x64\release\bin" | Out-File -FilePath $env:GITHUB_PATH -Append

      - name: Rust
        if: matrix.sys.target != 'aarch64-unknown-linux-gnu'
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.sys.target }}

      - name: Remove mupdf-rs features for Winodws
        if: runner.os == 'Windows'
        shell: bash
        run: |
          sed -i 's#, features = \["sys-lib-libjpeg"\]##' Cargo.toml

      - name: Build MView6
        if: matrix.sys.target != 'aarch64-unknown-linux-gnu'
        run: |
          cargo build --release --target ${{ matrix.sys.target }}

      - name: Cross compile MView6 (rpi)
        if: matrix.sys.target == 'aarch64-unknown-linux-gnu'
        run: |
          sed -i -e 's#mupdf = {.*##' -e 's#".*mupdf"##' Cargo.toml
          ./tools/rpi/docker-rpi.sh

      - name: Package for Debian/Ubuntu
        id: debian
        if: runner.os == 'Linux'
        run: |
          deps=$(./tools/linux/deps.py target/${{ matrix.sys.target }}/release/MView6)
          echo "deps=${deps}"
          echo "deps=${deps}" >> $GITHUB_OUTPUT
          mkdir -p dist .debpkg/usr/bin
          cp target/${{ matrix.sys.target }}/release/MView6 .debpkg/usr/bin/mview6
          cp -rv tools/linux/debian/* .debpkg/.
          cp resources/fonts/*.ttf .debpkg/usr/lib/mview6/.
          chmod +x .debpkg/DEBIAN/* .debpkg/usr/bin/*

      - name: Create .deb package (amd64)
        if: runner.os == 'Linux'
        uses: jiro4989/build-deb-action@v4
        with:
          package: mview6
          package_root: .debpkg
          maintainer: "Martin van der Werff <github@newinnovations.nl>"
          section: graphics
          priority: optional
          version: ${{ steps.date.outputs.version }}
          arch: ${{ matrix.sys.arch }}
          depends: ${{ steps.debian.outputs.deps }}
          desc: |
            MView6 pdf and photo viewer
            MView6 is a high-performance PDF and image viewer built with Rust and GTK4,
            supporting many modern image types like avif, heic and (animated) webp
          homepage: https://github.com/newinnovations/mview6

      - name: Package for Windows
        if: runner.os == 'Windows'
        shell: bash
        run: |
          mkdir -p mview6-windows/bin mview6-windows/lib mview6-windows/share/glib-2.0
          cp target/${{ matrix.sys.target }}/release/MView6.exe resources/fonts/*.ttf mview6-windows/bin/.
          cp /c/pdfium.dll mview6-windows/bin/.
          cp -r /c/gtk-build/gtk/x64/release/lib/gdk-pixbuf* mview6-windows/lib/.
          cp -r /c/gtk-build/gtk/x64/release/share/glib-2.0/schemas mview6-windows/share/glib-2.0/.
          find /c/vcpkg/packages/dav1d_x64-windows/bin -name "*.dll" -exec cp {} target/${{ matrix.sys.target }}/release/deps/. \;
          find /c/gtk-build/gtk/x64/release -name "*.dll" -exec cp {} target/${{ matrix.sys.target }}/release/deps/. \;
          bash tools/windows/getdlls.sh mview6-windows/bin/MView6.exe
          bash tools/windows/getdlls.sh target/${{ matrix.sys.target }}/release/deps/pixbufloader_svg.dll
          python3 tools/windows/msi/create_wxs.py mview6-windows/ mview6.wxs ${{ steps.date.outputs.version }}
          candle -out mview6.wixobj mview6.wxs
          light mview6.wixobj -out mview6_${{ steps.date.outputs.version }}.msi
          rm -f *.wixpdb
          bash -c "echo .\\\\bin\\\\MView6.exe > mview6-windows/mview6.cmd"
          cp doc/README-WINDOWS.txt mview6-windows/.
          7z a mview6_${{ steps.date.outputs.version }}_windows.zip mview6-windows/

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mview6-${{ matrix.sys.name }}
          path: |
            mview6_*

      - name: Release
        if: github.ref_name == 'main'
        uses: ncipollo/release-action@v1
        with:
          name: ${{ steps.date.outputs.today }}
          commit: ${{ github.sha }}
          tag: ${{ steps.date.outputs.today }}
          body: "MView6: high-performance PDF and image viewer built with Rust and GTK4 (${{ steps.date.outputs.today }})"
          makeLatest: true
          allowUpdates: true
          replacesArtifacts: true
          artifacts: "mview6_*"
